{% block content %}
<div class="row">
  <div class="span12">
    <table class="employees table table-bordered table-striped table-highlight">
      <thead>
        <th style="width:20px">Id</th>
        <th>Charge Name</th>
      </thead>
      <tbody>
        {% for charge in charges %}
        <tr>
          <td>{{charge.id}}</td>
          <td>{{charge.name}}</td>
          <td>
            <form onsubmit="return confirm('Delete {{charge.name}}.\n Are you sure?');" id='form_{{charge.id}}' method='POST' action='/charge_delete'>
              {% csrf-field %}
              <input type='hidden' name='id' value='{{charge.id}}' />
              <input type='submit' name='submit_{{charge.id}}' value='X' />
            </form>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <form method="POST" action="/charge">
            {% csrf-field %}
            <td colspan="2">
              Charge Name:
              <input class="form-control"
                     type="text"
                     name="name"
                     value="{{name}}" />
              {% if errors.name %}
              <div class="alert alert-danger">{{errors.name|join}}</div>
              {% endif %}
            </td>
            <td>
              <input type="submit" class="btn btn-primary" value="save" />
            </td>
        </tr>
          </form>
          </tr>
      </tbody>
  </div>
</div>
{% endblock %}
