{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <table class="timesheet fixed table table-bordered table-striped table-highlight">
      <thead>
        <th style="width: 180px;text-align: center;">Name</th>
        {% for day in days %}
        <th style="width: 80px;text-align: center;">{{day|safe}}</th>
        {% endfor %}
        <th style="width: 100px;text-align: center;">Total</th>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
