{% extends "base.html" %}
{% block content %}
<style>
form
{
  float:right;
}
</style>
<div style="text-align:right">
    <form method="POST" action="/timesheet_next">
      {% csrf-field %}
      <input type="text"
             style="display:none"
             name="enddate"
             value="{{enddate}}" />
      <input type="submit" class="btn btn-primary" name="forward" value="->" />
    </form>
    <form method="POST" action="/timesheet_back">
      {% csrf-field %}
      Period End Date:
      <input type="text"
             name="enddate"
             style="displayenddate"
             value="{{enddate}}" disabled/>
      <input type="text"
             style="display:none"
             name="enddate"
             value="{{enddate}}" />
      <input type="submit" class="btn btn-primary" name="backward" value="<-" />
    </form>
</div>

<div class="row">
  <div class="span12">
    <table class="timesheet fixed table table-bordered table-striped table-highlight">
      <thead>
        <tr style="background-color:#0d47a1;color:#ffffff">
        <th style="width: 180px;text-align: center;">Name</th>
        {% for day in days %}
        <th style="width: 80px;text-align: center;">{{day|safe}}</th>
        {% endfor %}
        <th style="width: 100px;text-align: center;">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
