{% extends "base.html" %}
{% block content %}
<style>
form
{
  float:right;
}
</style>
<div style="text-align:right">
  <form method="POST" action="/timesheet_next">
    {% csrf-field %}
    <input type="text"
           style="display:none"
           name="enddate"
           value="{{enddate}}" />
    <input type="submit" class="btn btn-primary" name="forward" value="->" />
  </form>
  <form method="POST" action="/timesheet_back">
    {% csrf-field %}
    Period End Date:
    <input type="text"
           name="enddate"
           style="displayenddate"
           value="{{enddate}}" disabled/>
    <input type="text"
           style="display:none"
           name="enddate"
           value="{{enddate}}" />
    <input type="submit" class="btn btn-primary" name="backward" value="<-" />
  </form>
</div>

<div class="row">
  <div class="span12">
    <table class="timesheet fixed table table-bordered table-striped table-highlight">
      <thead>
        <tr style="background-color:#0d47a1;color:#ffffff">
          <th style="width: 180px;text-align: center;">Name</th>
          {% for day in days %}
          <th style="width: 80px;text-align: center;">{{day|safe}}</th>
          {% endfor %}
          <th style="width: 30px;text-align: center;">Total</th>
        </tr>
      </thead>
      <form>
        <tbody>
          <!--row1-->
          <tr>
            <td>
              <select>
                {% for charge in charges %}
                <option value="{{charge.id}}">{{charge.name}}</option>
                {% endfor %}
              </select>
            </td>
            {% for day in dates %}
            <td style="width: 30px;text-align: center; background-color:{% if forloop.counter|weekend? %}#606060{% else %}#FFFFFF{% endif %}; color: #ff0000 ;">
              <input onblur="findTotal('row1')" 
                     type="text" 
                     name="row1" 
                     id="{{day}}" 
                     size="4"/> </td>
            {% endfor %}
            <td style="width: 30px;text-align: center;"><input type="text" id="row1" size="4"/> </td>
          </tr>
          <!--end of row1-->
          <!--row2-->
          <tr>
            <td>
              <select>
                {% for charge in charges %}
                <option value="{{charge.id}}">{{charge.name}}</option>
                {% endfor %}
              </select>
            </td>
            {% for day in dates %}
            <td style="width: 30px;text-align: center; background-color:{% if forloop.counter|weekend? %}#606060{% else %}#FFFFFF{% endif %}; color: #ff0000 ;">
              <input onblur="findTotal('row2')" 
                     type="text" 
                     name="row2" 
                     id="{{day}}" 
                     size="4"/> </td>
            {% endfor %}
            <td style="width: 30px;text-align: center;"><input type="text" id="row2" size="4"/> </td>
          </tr>
          <!--end of row2-->
          <!--row3-->
          <tr>
            <td>
              <select>
                {% for charge in charges %}
                <option value="{{charge.id}}">{{charge.name}}</option>
                {% endfor %}
              </select>
            </td>
            {% for day in dates %}
            <td style="width: 30px;text-align: center; background-color:{% if forloop.counter|weekend? %}#606060{% else %}#FFFFFF{% endif %}; color: #ff0000 ;">
              <input onblur="findTotal('row3')" 
                     type="text" 
                     name="row3" 
                     id="{{day}}" 
                     size="4"/> </td>
            {% endfor %}
            <td style="width: 30px;text-align: center;"><input type="text" id="row3" size="4"/> </td>
          </tr>
          <!--end of row3-->
          <!--row4-->
          <tr>
            <td>
              <select>
                {% for charge in charges %}
                <option value="{{charge.id}}">{{charge.name}}</option>
                {% endfor %}
              </select>
            </td>
            {% for day in dates %}
            <td style="width: 30px;text-align: center; background-color:{% if forloop.counter|weekend? %}#606060{% else %}#FFFFFF{% endif %}; color: #ff0000 ;">
              <input onblur="findTotal('row4')" 
                     type="text" 
                     name="row4" 
                     id="{{day}}" 
                     size="4"/> </td>
            {% endfor %}
            <td style="width: 30px;text-align: center;"><input type="text" id="row4" size="4"/> </td>
          </tr>
          <!--end of row4-->
          <!--row5-->
          <tr>
            <td>
              <select>
                {% for charge in charges %}
                <option value="{{charge.id}}">{{charge.name}}</option>
                {% endfor %}
              </select>
            </td>
            {% for day in dates %}
            <td style="width: 30px;text-align: center; background-color:{% if forloop.counter|weekend? %}#606060{% else %}#FFFFFF{% endif %}; color: #ff0000 ;">
              <input onblur="findTotal('row5')" 
                     type="text" 
                     name="row5" 
                     id="{{day}}" 
                     size="4"/> </td>
            {% endfor %}
            <td style="width: 30px;text-align: center;"><input type="text" id="row5" size="4"/> </td>
          </tr>
          <!--end of row5-->
          <!--row6-->
          <tr>
            <td>
              <select>
                {% for charge in charges %}
                <option value="{{charge.id}}">{{charge.name}}</option>
                {% endfor %}
              </select>
            </td>
            {% for day in dates %}
            <td style="width: 30px;text-align: center; background-color:{% if forloop.counter|weekend? %}#606060{% else %}#FFFFFF{% endif %}; color: #ff0000 ;">
              <input onblur="findTotal('row6')" 
                     type="text" 
                     name="row6" 
                     id="{{day}}" 
                     size="4"/> </td>
            {% endfor %}
            <td style="width: 30px;text-align: center;"><input type="text" id="row6" size="4"/> </td>
          </tr>
          <!--end of row6-->
          <tr>
            <td colspan="2"><input type="text" name="Signature" value="" /></td>
            <td colspan="5"></td>
            <td colspan="2"><input type="submit" class="btn btn-primary" name="Submit" value="Submit" /></td>
          </tr>
        </tbody>
      </form>
    </table>
  </div>

  <script type="text/javascript">
function findTotal(name){
  var arr = document.getElementsByName(name);
  var tot=0;
  for(var i=0;i<arr.length;i++){
    if(parseInt(arr[i].value))
      tot += parseInt(arr[i].value);
  }
  document.getElementById(name).value = tot;
}
  </script>

</div>
{% endblock %}
